@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  border: 1px solid black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* font-family: "poppins", sans-serif; */
  max-width: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  padding: 10px 40px;
  margin-top: 20px;
}
.divider {
  padding: 10px 0px;
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
}
